:root{
	--mainColor:#778284;
	--secondaryColor:#7F9E9D;

	--borderColor:#B3D8D7;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(25, 39, 52, 0.8);
	--previewShadow:#111921;


	--buttonColor:#17a2b8;


}